<header class="navbar text-white navbar-dark bg-dark">
  <div>
    <ul class="navbar-nav flex-row">
      <li class="nav-left"></li>
      <li class="nav-left">
        <button type="button" class="btn btn-secondary char-index-btn">All Characters</button>
      </li>
      <li class="nav-left">
        <button type="button" class="btn btn-secondary char-create-btn">Create New Character</button>
      </li>
    </ul>
  </div>
  <div class="app-title navbar-brand">Character Sheet Manager</div>
  <div>
    <ul class="navbar-nav flex-row nav-right-ul">
      <li class="nav-right nav-message"></li>
      <li class="nav-right">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary change-pw-btn" data-toggle="modal" data-target=".change-pw-modal">
          Change Password
        </button>
      </li>
      <li class="nav-right">
        <button type="button" class="btn btn-secondary sign-out-btn">Sign Out</button>
      </li>
    </ul>
  </div>
</header>

<!-- Modal -->
<div class="modal fade change-pw-modal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form class='change-pw-form'>
        <fieldset>
          <label>Current Password
            <br />
            <input class='change-pw pw-input' name='passwords[old]' type='password' placeholder='Password'>
          </label>
          <br />
          <label>New Password
            <br />
            <input class='change-pw pw-input' name='passwords[new]' type='password' placeholder='New Password'>
          </label>
        </fieldset>
      </form>

      <p class='message auth-message'></p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success change-pw-confirm">Update Password</button>
      </div>
    </div>
  </div>
</div>
