<div class="row">
  <section class ="char-sheet col-md-12 border border-dark rounded bg-white" data-id="{{char.id}}">

    <p class='message edit-char-message'></p>
    <form class='char-edit-form'>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-md-3 char-aspects'>
            <h3>Aspects</h3>
            <fieldset>
              {{> aspect-display char=char display='Name' attr='name' }}
              {{> aspect-display char=char display='High Concept' attr='high_concept' }}
              {{> aspect-display char=char display='Trouble' attr='trouble' }}
              {{> aspect-display char=char display='Aspect' attr='aspect_1' }}
              {{> aspect-display char=char display='Aspect' attr='aspect_2' }}
              {{> aspect-display char=char display='Aspect' attr='aspect_3' }}
            </fieldset>
          </div>
          <div class='col-md-9 char-skills'>
            <h3>Skills</h3>
            <table>
              <tr>
                <td>Superb (+5)</td>
                {{> char-skill-row skills=skills lvl=5}}
              </tr>
              <tr>
                <td>Great (+4)</td>
                {{> char-skill-row skills=skills lvl=4}}
              </tr>
              <tr>
                <td>Good (+3)</td>
                {{> char-skill-row skills=skills lvl=3}}
              </tr>
              <tr>
                <td>Fair (+2)</td>
                {{> char-skill-row skills=skills lvl=2}}
              </tr>
              <tr>
                <td>Average (+1)</td>
                {{> char-skill-row skills=skills lvl=1}}
              </tr>
            </table>
            {{#each char.character_skills}}
            <p>{{this.skill_name}}: {{this.level}}</p>
            {{/each}}
            <br />
          </div>
        </div>
      </div>
    </form>

    <div class="char-sheet-btns btn-container">
      <!-- should only show if character already has an id -->
      {{#if char.id}}
      {{> buttons/edit-char-btns id=char.id}}
      {{else}}
      {{> buttons/new-char-btns id=char.id}}
      {{/if}}
    </div>
  </section>
</div>
