<h4>Welcome to Character Sheet Manger by Jacob Seib</h4>
<p class='splash'>
  <span>In this app, you can create, edit, and update character sheets for the </span>
  <a href="https://www.evilhat.com/home/fate-core-downloads/" target="_blank">Fate Core</a>
  <span> tabletop roleplaying system, whose rulebook is available via a pay-what-you-like system.</span>
</p>
<p class='splash'>Use the options on the navbar at the top to see your existing characters, or create a new character. While viewing existing characters, you can select an individual character to view more details about them, or edit their information. No fields are required for characters, since Fate is a very flexible system with regard to character creation, particularly for NPCs (Non-Player Characters).</p>
<p class='splash'>Currently, only aspects and skills for characters are implemented, and characters have a maximum of 5 aspects. Note that skills are selected from a pre-defined set that is slightly different than the base rulebook's set.</p>
